body {
    height: 1000px;
    width: 1000px;
    margin: auto;
}

.container {
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: whitesmoke;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid grey;
    margin: 0px;
}

.pink {
    background-color: hotpink;
}